body{ background:#fff;}

.w_100_l{ width:100%; height:auto; display:inline; float:left;}
.main p{ width:100%; height:42px; display:inline; text-align:center; float:left;}

.main{ width:960px; height:auto; margin:0 auto;}
.top_banner{ width:100%; height:auto; display:inline; float:left; position:relative;}
.top_menu{ width:460px; height:auto; display:inline; float:left; margin-left:30px;}
.top_menu ul{ width:100%; height:auto; display:inline; float:left;}
.top_menu ul li{ padding:20px 10px 3px; margin-left:10px; float:left;}
.top_menu ul li a{ font:20px/20px Arial, Helvetica, sans-serif; color:#333; text-decoration:none;}
.top_menu ul li:hover,.top_menu ul li.sel{ border-bottom:1px solid #bcb79c; background:#f6f5ea;}

.title_shoppingcart{ width:940px; height:30px; margin:24px 0 18px 10px; font:18px/30px "微软雅黑"; color:#998a62;}
.index_hr{ width:940px; border-bottom:5px solid #f2f1e2; float:left; margin-top:35px; margin-left:10px;}
.index_n{ width:940px; border-bottom:1px solid #009999; float:left; margin-top:35px; margin-left:10px;}
.content ul{ width:940px; height:auto; float:left; overflow:hidden; border-style: solid; border-color: black;}
.content ul li{ width:190px; height:auto; display:inline; float:left;}
.content ul li.book_title{ width:190px; font:16px/25px Arial; color:#eb4c89;display:inline;float:left;margin-bottom:10px;}
.content ul li.book_title a{ text-decoration:none; color:#eb4c89;display:inline;float:left;margin-bottom:10px;}
.content ul li.book_quantity{ width:190px; font:12px/25px Arial; color:#998f77;display:inline;float:left;margin-bottom:10px;}
.content ul li.book_price{ width:190px; font:12px/25px Arial; color:#998f77;display:inline;float:left;margin-bottom:10px;}
.content ul .remove_book{ border:1px solid #64991e; background:#c0c0c0;padding:5px 8px; text-decoration:none; color:#fff;
 -webkit-border-radius:3px;display:inline; text-transform:uppercase; letter-spacing:0.1em; 
 font-size: 13px;float:left;margin-bottom:30px;
}
.total_price{ width:190px; height:auto;font:15px/50px Arial, Helvetica, sans-serif; color:#666; overflow:hidden;text-align:right;}

.footer{ width:940px; height:50px; display:inline; float:left; margin-left:10px;font:15px/50px Arial, Helvetica, sans-serif; padding-top:5px;}
.footer a{ color:#f57389; float:left; margin-left:25px;}
.footer .span_1{ width:auto; height:50px; color:#666; float:left;}

.footer .span_2{ width:auto; height:50px; float:right; margin-right:20px;font:12px/50px Arial, Helvetica, sans-serif;}
.footer .span_2 b{ font:12px/50px Arial, Helvetica, sans-serif; color:#666; float:left;}
.footer .span_2 img{ float:left;}

.clear_cart{ border:1px solid #64991e; background:#FF6633; padding:5px 8px; text-decoration:none; color:#fff;
 -webkit-border-radius:3px;display:inline; text-transform:uppercase; letter-spacing:0.1em; 
 font-size: 13px;float:right;
}

.pay_cart{ border:1px solid #64991e; background:#FF6633; padding:5px 8px; text-decoration:none; color:#fff;
 -webkit-border-radius:3px;display:inline; text-transform:uppercase; letter-spacing:0.1em; 
 font-size: 13px;float:right;margin-right:2px;
}