body{ background:#fff;}

.w_100_l{ width:100%; height:auto; display:inline; float:left;}
.main p{ width:100%; height:42px; display:inline; text-align:center; float:left;}

.main{ width:960px; height:auto; margin:0 auto;}
.top_banner{ width:100%; height:auto; display:inline; float:left; position:relative;}
.top_menu{ width:460px; height:auto; display:inline; float:left; margin-left:10px;}
.top_menu ul{ width:100%; height:auto; display:inline; float:left;}
.top_menu ul li{ padding:20px 10px 3px; margin-left:10px; float:left;}
.top_menu ul li a{ font:20px/20px Arial, Helvetica, sans-serif; color:#333; text-decoration:none;}
.top_menu ul li:hover,.top_menu ul li.sel{ border-bottom:1px solid #bcb79c; background:#f6f5ea;}
.top_status{ width:170px; height:30px; display:inline; float:right; margin-right:30px; margin-top:13px;
border: 2px solid #dcbf8a; border-radius: 12px; background-color:#dcbf8a;}
.top_status p{font:18px Arial, Helvetica, sans-serif; color:#fff;padding:5px 2px;}

.title_pay{ width:940px; height:30px; margin:24px 0 18px 10px; font:18px/30px "微软雅黑"; color:#998a62;}
.index_hr{ width:940px; border-bottom:5px solid #f2f1e2; float:left; margin-top:35px; margin-left:10px;}
.index_n{ width:940px; border-bottom:1px solid #009999; float:left; margin-top:35px; margin-left:10px;}
.content ul li img{ width:200px; height:200px; display:inline; float:left; margin-right:10px;}
.content ul li.user{ width:100px; font:12px/25px Arial;color:#998f77; display:inline;float:left;margin-top:30px;margin-left:100px;}
.content ul li.user_id{ width:400px; font:12px/25px Arial; display:inline;float:left;margin-top:30px;margin-left:50px;}
.content ul li.user_address{ width:400px; font:12px/25px Arial; display:inline;float:left;margin-top:30px;margin-left:50px;}
.content ul li.user_phone{ width:400px; font:12px/25px Arial; display:inline;float:left;margin-top:30px;margin-left:50px;}
.content ul li.book_title0{ width:300px; font:12px/25px Arial; display:inline; float:left; color:#998f77;margin-bottom:10px;}
.content ul li.book_quantity0{ width:100px; font:12px/25px Arial; display:inline; float:left; color:#998f77;margin-bottom:10px;margin-left:100px;}
.content ul li.book_price0{ width:100px; font:12px/25px Arial; display:inline; float:left; color:#998f77;margin-bottom:10px;margin-left:200px;}
.content ul li.book_title{ width:300px; font:12px/25px Arial; display:inline; float:left;margin-bottom:10px;}
.content ul li.book_quantity{ width:100px; font:12px/25px Arial;  display:inline; float:left;margin-bottom:10px;margin-left:100px;}
.content ul li.book_price{ width:100px; font:12px/25px Arial;  display:inline; float:left;margin-bottom:10px;margin-left:200px;}

.total_price{ width:190px; height:auto;font:15px/50px Arial, Helvetica, sans-serif; color:#666; overflow:hidden;text-align:right;}

.pay_cart{ border:1px solid #64991e; background:#FF6633; padding:5px 8px; text-decoration:none; color:#fff;
 -webkit-border-radius:3px;display:inline; text-transform:uppercase; letter-spacing:0.1em; 
 font-size: 13px;float:right;margin-right:2px;
}